body{
    font-family: 'Josefin Sans', sans-serif;
    
}
#full-part{
    margin: 4
    0px;
}
h1{
    font-size: 50px;
}
#misson{
    border-left: 5px solid;
    border-image:linear-gradient(#05a0fa,rgb(13, 255, 142));
    border-image-slice: 1;
    border-radius: 15px;
}
#year-1{
    color:tomato;
}
.all-part{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 156, 16),rgb(243, 11, 69));
    padding:10px 30px;
    border-radius:5px;
    font-weight: 900px;
    color: white;
    font-weight: bold;
}
#HELLO{
text-align: center;
}
.target{
    border:blue;
    background-color: coral;
    border-radius: 15px;
    width: 33.3%;
    margin: 20px;
    padding: 20px;


}
#year-0{
    color: tomato;
}
.community{
    font-size: 40px;
}

.flexible-container{
    display: flex;
    margin: 10px
    padding: 10px;
}
#left{
    margin-right: 40px;
    width: 33.33%;
    background-color: antiquewhite;
}
#middle{
    width: 33.33%;
    background-color: rgb(167, 197, 197);
}
#right{
    margin-left: 40px;
    width: 33.33%;
    background-color: rgb(171, 243, 219);
}
.secend-part{
    display: flex;
}
#ph{
    background-image: url(pictures//exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#bkash-all{
    background-image: url(pictures/dream-bg.png);
    background-repeat: no-repeat;
   background-position:left;
}
#bkash{
    text-align: center;
    font-size: 40px;
}
#bkash-p{
 margin-left: 70px;
}
#bkash-a{
    color: tomato;
}
#bkash-div{
    margin-right: 110px;
    background-color:rgb(252, 162, 152);
    border-radius: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
}
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    margin:0;
}
#year-2{
    color: tomato;
    margin: 0;
}
   