body{
    font-family: 'Josefin Sans', sans-serif;
}
pL{
    font-family: 'Luxurious Roman', cursive;
}

#M-22{
    color:tomato;
}
.first-part{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 51, 0),rgb(255, 187, 0));
    padding:10px 30px;
    border-radius:5px;
    font-weight: 900px;
    color: white;
    font-weight: bold;
}
#HELLO{
text-align: center;
}